In [ ]:
from datetime import datetime
#display current time
current=datetime.now()
print(current)
date_obj=datetime(2024,10,1,12,20)
print(date_obj)

2024-10-01 07:44:56.475598
2024-10-01 12:20:00

In [ ]:
#convert string to datetime
date_string='2024-10-1 12:20:00'
dateformat=datetime.strptime(date_string,'%Y-%m-%d %H:%M:%S')
print(dateformat)

2024-10-01 12:20:00

In [ ]:
#convert datetime to string
fdate=date_obj.strftime('%Y-%m-%d %H:%M:%S')
print("Formatted date:")
print(fdate)

Formatted date:
2024-10-01 12:20:00

In [ ]:
#time difference
td=date_obj-current
print("Time difference:",td)

days=td.days
print("days:",days)

seconds=td.seconds
print("Seconds",seconds)

Time difference: 4:35:03.524402
days: 0
Seconds 16503

In [ ]:
import pandas as pd
dr=pd.date_range(start='2023-01-01',end='2024-12-31',freq='D')
df = pd.DataFrame(dr, columns=['Date'])
print(df.head(10))

        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
5 2023-01-06
6 2023-01-07
7 2023-01-08
8 2023-01-09
9 2023-01-10

In [ ]:
dob=input("Enter the date of birth(yy-mm-dd):")
dobj=datetime.strptime(dob,'%Y-%m-%d')
print(dobj)
ad=datetime.now()-dobj
print("age in days:",ad)
age=ad.days/365.25
#print("Age :",int(age))
d1=date_obj.year-dobj.year
print("years:",d1)
d2=date_obj.month-dobj.month
print("months:",d2)

d3=date_obj.day-dobj.day
print("days:",d3)

Enter the date of birth(yy-mm-dd):2005-06-12
2005-06-12 00:00:00
age in days: 7051 days, 8:03:37.682310
years: 19
months: 4
days: -11